[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sastrawi = "*"
nltk = "*"
numpy = "*"
certifi = "*"
scrapy = "*"
fastapi = {extras = ["all"], version = "*"}
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
